/*csslint fallback-colors: false, order-alphabetical: false, box-model: false*/

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

header {
    font-weight: 300;
}

h1{
    margin: 20px 20px 20px 20px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.65) 
}
.header-container {
    /* 100% lesz a szélessége: */
    background-size: 100%;
    position: relative;
    background-image: url(banner.jpg);
/*    background-size: cover;*/
    height: auto;
    /* ennek az elemnek a magassága a böngésző szélességének 40%-a (verticalWidth) */
    height: 30vw;
    color: white;
}


.menu{
    list-style: none;
    padding: 0;
    margin-left: 30%;
}

.almenu:hover{
    background: #4cc3c3;
    padding: 5px 5px 5px 5px;
    display: block;
    text-align: center;
    cursor: pointer;
}
.almenu{
    display: block;
    border-left: 5px solid rgba(129, 225, 255, 0.63);
    background: rgba(63, 117, 134, 0.3);
    width: 100px;
    height: 30px;
    text-align: center;
    margin-left: -200px;
}

.company-image{
    float: right;
    position: relative;
}

.company-intro{
    display: block;
    position: absolute;
    width: 50%;
    right: 10vw;
    top: 50px;
    font-size: 30px;
    background-color: rgba(40, 70, 66, 0.4)
}
.main-container{
    margin-left: 300px;
    
}
footer {
    position: absolute;
    height: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 12px;
    background: rgba(10, 123, 115, 100);
    text-align: center;
}